
/*
** HTML elements
*/
body {
	margin: 0;
	padding: 0;
	background: #749865 url(images/img01.gif) repeat-x;
	font: normal small Arial, Helvetica, sans-serif;
	line-height: 1.8em;
	color: #838B91;
}

tr.odd td, tr.even td {
  padding: 0.3em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #468259;
}

h1 {
  font-size: 1.3em;
}

h2 {
	padding-left: 20px;
	background: url(images/img07.gif) no-repeat left center;
	font-size: 22px;
}

h3, h4, h5, h6 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
	font-weight: bold;
}

p, blockquote, ul, ol {
	margin-top: 0;
}

blockquote {
	padding: 0 0 0 40px;
	background: url(images/img11.gif) no-repeat;
	font: italic small Georgia, "Times New Roman", Times, serif;
	line-height: 1.6em;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.9em;
}

a {
	background: url(images/img03.gif) repeat-x left bottom;
	text-decoration: none;
	color: #468259;
}

a:link {
  color: #468259;
}

a:hover {
	background: none;
	text-decoration: underline;
}

fieldset {
  border: 1px solid #ccc;
}

pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}

table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}

.form-item label {
  font-size: 1em;
  color: #222;
}

.item-list .title {
  font-size: 1em;
  color: #222;
}

.links {
  margin-bottom: 0;
}

.comment .links {
  margin-bottom: 0;
}


/**
 * Wrapper
 */
#wrapper {
	background: #FFFFFF url(images/img04.gif) repeat-x left bottom;
}

#content-pane {
	width: 750px;
	margin: 0 auto;
}


/* Menu */

#menu {
	width: 750px;
	height: 60px;
	margin: 0 auto;
}

#menu ul {
	list-style: none;
}

#menu li {
	float: left;
	padding: 0 0 0 2px;
	background: url(images/img02.gif) no-repeat;
}

#menu a {
	display: block;
	padding: 20px 18px 10px;
	background: none;
	letter-spacing: -1px;
	font: normal 1.6em Georgia, "Times New Roman", Times, serif;
	color: #E1E9E2;
}

#menu a:hover {
	border-bottom: 4px solid #5A7C50;
	text-decoration: none;
	color: #FFFFFF;
}

#menu li a.active {
	background: #E1E9E2;
	border-bottom: 4px solid #E1E9E2;
	text-decoration: none;
	color: #749865;
}

/* Header */

#header {
	width: 754px;
	height: 247px;
	margin: 0 auto;
	padding: 13px 0 0 0;
}

#header h1 {
	float: left;
	width: 104px;
	height: 110px;
	padding: 104px 100px 0 20px;
	background: url(images/img05.jpg) no-repeat;
	line-height: 32px;
	font-size: 30px;
}

#header h2 {
	float: right;
	width: 494px;
	height: 34px;
	padding: 180px 20px 0 0;
	background: url(images/img06.jpg) no-repeat;
	text-transform: lowercase;
	text-align: right;
	letter-spacing: -1px;
	font-size: 22px;
	color: #FFFFFF;
}


/*
** Page layout blocks / IDs
*/
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}

/* Mission */
#mission .mission-content {
	border: solid 1px #468259;
	background: #E1E9E2;
	padding: 20px;
	text-align: justify;
}
#mission h2 {
	text-align: center;
	background: none;
	font-size: 1.8em;
	margin-bottom: 5px;
}

#mission .mission-content p {
	padding: 0;
	margin: 0;
}

#mission {
	margin-bottom: 20px;
}

/* Posts */

#pane {
	float: right;
	width: 530px;
}

#pane .post {
	padding-bottom: 30px;
}

#pane .story {
	padding: 15px 20px 0 20px;
	background: url(images/img10.gif) repeat-x
}

#pane .meta {
	padding: 5px 0 0 20px;
	background: url(images/img03.gif) repeat-x;
}

#pane .meta p {
	margin: 0;
	line-height: normal;
	font-size: smaller;
}

#pane ul {
	list-style: url(images/img12.gif);
}

#pane ul li {
}







#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 0 10px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin: 0;
  padding: 0;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}

/* Sidebar */

/* Blocks */
#sidebar{
	width: 200px;
}

#sidebar .block {
	width: 198px;
	margin: 0 0 10px 5px;
	padding: 0;
	background: #E1E9E2;
	border: 1px solid #468259;
}

#sidebar .block .title {
	margin: 4px;
	padding: 8px 10px;
	background: #739366 url(images/img3.gif) no-repeat center bottom;
	border-top: 1px solid #739366;
	border-bottom: 1px solid #F4F5EC;
	font: bold 1em Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#sidebar .block .content {
	margin: 0;
	padding: 5px 14px 10px 14px;
}

#sidebar .block ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar .block ul li.expanded ul {
	margin-left: 15px;
}

#sidebar .block li {
	padding: 1px 0;
}

#sidebar .block li a {
	display: block;
	background: url(images/img4.gif) no-repeat left center;
}

#sidebar .block li a:hover {
	background-color: #fff;
}

#sidebar .block a {
	padding-left: 10px;
	text-decoration: none;
}

#sidebar ul.menu li, .item-list ul li {
	margin: 0;
}

#sidebar li.leaf, #sidebar li.collapsed, #sidebar li.expanded, .item-list ul li {
	list-style-image: none;
	list-style-type: none;
}


/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a, #main .title {
  font-size: 1.3em;
  color: #468259;
  margin: 0;  /* decrease default margins for h<x>.title */
  text-decoration: none;
}


.title a:hover {
  text-decoration: none;
}

.submitted {
  color: #999;
  font-size: 0.8em;
  padding:15px 0 0 20px;
  background:transparent url(images/img03.gif) repeat-x scroll 0%;
}
.links {
  color: #999;
}
.links a {
  font-size: 1.1em;
}
.links a:hover {
  text-decoration: none;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: 0 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}

.node .content {
	margin: 0 0 .5em 0;
	padding: 15px 20px 0 20px;
	background: url(images/img10.gif) repeat-x
}

.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

.form-text, .form-submit, .form-textarea {
	border: thin #999999 solid;
}

/* Footer */

#footer {
	padding: 40px 0 60px 0;
	background: url(images/img08.gif) repeat-x;
}

#footer p {
	width: 750px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #A6C09B;
}

#footer a {
	background: none;
	font-weight: bold;
	color: #A6C09B;
}

#legal {
	margin: 0 auto;
	text-align: right;
	font-size: 12px;
}

#brand {
	margin: -35px auto 0 auto;
	padding: 10px 0 0 35px;
	background: url(images/img09.gif) no-repeat left top;
	letter-spacing: -1px;
	font-size: 24px;
}


/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background:transparent url(images/img08.gif) repeat-x scroll 0%;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}

#sidebar #search-block-form #edit-submit {
  padding: 0;  
}

/**
 * Editor specific styles
 * If the style is messing with the WYSIWYG editor, simply add it 
 * to the end of these statements (or send this theme a feature request)
 */
body.mceContentBody
{
  background:#fff;
  color:#000;
  font-size:12px;
}

body.mceContentBody a:link
{
  color:#ff0000;
}
